In [1]:
import math
import re as re
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import learning_curve

In [2]:
# Get the data
r = requests.get("https://www.hltv.org/stats/teams")

# Create a pandas with pulled data
root = bs(r.content, "html.parser")
root.prettify()
table = (str)(root.find("table"))
teams = pd.read_html(table, header=0)[0]

# Pull the country data out of the table and put into our dataframe
table = table.strip("\\n")
countries = (re.findall('title="(.+)"/>', table))
teams['Country'] = pd.Series(countries)

# Clean up columns
teams.columns = ['Team', 'Maps', 'K/D Differential', 'K/D', 'Rating', 'Country']
teams = teams[['Team', 'Country', 'Maps', 'K/D Differential', 'K/D', 'Rating']]

# Delete Tyloo from dataframe for reasons mentioned above
teams = teams.drop([0])

# Get a series with all team names
teamlist = teams[teams.columns[0]]

# Display resultant panda
teams

                 Team         Country  Maps  K/D Differential   K/D  Rating
1           Renegades       Australia  1066              4642  1.05    1.05
2                ViCi           China   731              5761  1.09    1.05
3               ORDER       Australia   873              9638  1.14    1.05
4            Vitality          France   798              3496  1.05    1.05
5      Space Soldiers          Turkey   804              6008  1.09    1.04
6                MIBR          Brazil   775              2993  1.05    1.04
7               FURIA          Brazil   959              6839  1.09    1.04
8              Liquid   United States  1605              8498  1.06    1.04
9            Astralis         Denmark  1319             10481  1.10    1.04
10               FaZe          Europe  1309              5151  1.05    1.04
11              North         Denmark   822              1228  1.02    1.04
12        HellRaisers             CIS  1801              3399  1.02    1.03
13                NIP          Sweden  2072             11747  1.07    1.03
14                BIG         Germany  1229              2227  1.02    1.03
15             fnatic          Sweden  1889              7881  1.05    1.03
16                 G2          France  1576              3959  1.03    1.03
17               MOUZ          Europe  1938              7205  1.04    1.03
18         Complexity          Europe  1374               994  1.01    1.03
19              forZe          Russia  1510              9250  1.07    1.03
20           Dignitas          Sweden  1484              2427  1.02    1.02
21            Kinguin          Poland   859              5225  1.07    1.02
22         Luminosity          Brazil   888              3351  1.04    1.02
23             Cloud9   United States  1377              5621  1.05    1.02
24           FlipSid3          Russia   791             -1657  0.98    1.02
25             Chiefs       Australia  1019              7005  1.08    1.02
26      Natus Vincere         Ukraine  1892             12036  1.07    1.02
27            GODSENT          Brazil   996              1640  1.02    1.02
28            TeamOne          Brazil  1051              2907  1.03    1.02
29                 SK          Brazil   899              5481  1.07    1.02
30             Sprout         Germany  1377              4738  1.04    1.02
31        GamerLegion          Sweden   772               948  1.01    1.02
32        Singularity   United States   986               319  1.00    1.02
33               HAVU         Finland  1262              5166  1.05    1.02
34         Virtus.pro          Poland  2035              3752  1.02    1.02
35              OpTic   North America   843              2524  1.03    1.01
36               Envy          France  1181              1942  1.02    1.01
37               ENCE         Finland  1079              2059  1.02    1.01
38             Heroic         Denmark  1314              4531  1.04    1.01
39              SKADE        Bulgaria  1086              2261  1.02    1.01
40            Epsilon          Sweden   937              2791  1.03    1.01
41    Movistar Riders           Spain  1078              2011  1.02    1.01
42           Endpoint  United Kingdom  1066               346  1.00    1.01
43             Spirit          Russia  1375              5653  1.05    1.01
44                NRG   United States   773              3117  1.05    1.01
45            AVANGAR      Kazakhstan   781              6297  1.10    1.01
46             Isurus       Argentina   741              1449  1.02    1.01
47                AGO          Poland  1537              2972  1.02    1.01
48              PENTA          Europe   732              -733  0.99    1.01
49               LDLC          France  1500              2493  1.02    1.00
50             Nemiga         Belarus  1278              2683  1.02    1.00
51              Nexus         Romania   989               568  1.01    1.00
52             Gambit          Russia  1024              4982  1.06    1.00
53                 SJ         Finland   748             -1474  0.98    1.00
54  Copenhagen Flames         Denmark  1089              2405  1.03    0.99
55            Tricked         Denmark  1584              1471  1.01    0.99
56               PACT          Poland   865             -2185  0.97    0.98
57        Izako Boars          Poland   732             -2401  0.96    0.97
58    ALTERNATE aTTaX         Germany  1668               440  1.00    0.97

In [13]:
# Get the data
r = requests.get("https://www.hltv.org/stats/players")

# Create a pandas with pulled data
root = bs(r.content, "html.parser")
root.prettify()

# Pull the player data out of the table and put into our dataframe
table = str(root.find("table"))
players = pd.read_html(table, header=0)[0]
print(players)
# An array containing a list of top 10 teams (according to HLTV's critically acclaimed ranking system)
topTeams = ['Renegades', 'ViCi', 'ORDER', 'Vitality', 'Space Soldiers', 'MIBR', 'FURIA', 'Liquid', 'Astralis', 'FaZe']

# Discard player information for anyone not listed in the top 10 teams
players = players[players['Teams'].isin(topTeams)]

players = players.sort_values('Teams')
players.columns = ['Player', 'Teams', 'Maps','Rounds', 'K/D Differential', 'K/D', 'Rating']

# Display resultant panda
players

      Player  Teams  Maps  Rounds  K-D Diff   K/D  Rating1.0
0      ZywOo    NaN  1017   26721      6149  1.37       1.27
1     s1mple    NaN  1561   41205      9048  1.34       1.25
2      sh1ro    NaN   880   23348      5592  1.45       1.23
3       deko    NaN   404   10913      2341  1.37       1.21
4     saffee    NaN   397   10498      1939  1.30       1.20
..       ...    ...   ...     ...       ...   ...        ...
801    B1ad3    NaN   899   23232     -3408  0.80       0.83
802  netrick    NaN   455   11976     -1736  0.80       0.82
803   HUNDEN    NaN  1578   41153     -6238  0.78       0.81
804   RuFire    NaN   384   10185     -1927  0.74       0.78
805    OCEAN    NaN   410   10602     -1962  0.74       0.77

[806 rows x 7 columns]

Empty DataFrame
Columns: [Player, Teams, Maps, Rounds, K/D Differential, K/D, Rating]
Index: []